.App {
  background: linear-gradient(to right, gold, orange, rgb(255, 102, 0));
  width: fit-content;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  margin-top: 30px;
  padding: 10px;
  min-width: "80%";
  border: none;
}

.h3 {
  color: orange;
}

.result {
  margin-top: 40px;
  padding: 0px 20px;
  color: white;
  background-color: rgb(255, 72, 0);
  border-radius: 10px;
}
